
.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ),
        url("../../../public/assets/img/bg1.jpg") center ;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}
.wrapper{
    padding: 20px;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
}
.title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.btn-submit{
    margin-left: 9em;
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: rgb(133, 133, 133);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}
.link{
    margin: 5px 3em;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}