.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgba(243, 242, 242, 0.459);
    list-style: none    ;
}
.navbarLeft{
    flex: 3;
}
.logo{
    font-weight: 1000;
    font-size: 28px;
}
.navbarCenter{
   
    flex: 5;
}
.searchInputs{
    display: flex;
    border: 1px solid #DDD;
  

}
.searchInput{
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 2rem;
    border: none;
    
}
ion-icon{
   padding: 0 1rem 0 1rem ;
   align-items: center;
   margin: auto;
   font-size: 20px;
}
.dataResults{
    position: absolute;
    margin-top: 1rem;
    width: 30rem;
    height: max-content;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
}
.dataResults::-webkit-scrollbar{
    display: none;
}
.list{
   
}
.listItem{
    height: 1rem;
    padding:  0.5rem 0.5rem 0.5rem 1.5rem;
    width: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
    color: black;
}
.list :hover{
    background-color: rgb(195, 194, 194);
}
.navbarRight{
   
    flex: 4;
    
}
.navbarRightItem{
    display: flex;
    justify-content: flex-end;
}
.navbarIcon{
    display: flex;
   flex: 6;
   margin: auto;
   
}
.navbarIconItem{
   
}
.access{
    flex: 2;
}
.loginBtn{
    text-decoration: none;
    color: black;
    background-color: rgb(196, 194, 194);
    flex: 6;
    border: none;
    padding: 0.5rem;
    width: 5rem;
    height: 2rem;
}